body {
    width: 100%;
    margin: 0;
    background-color: #fafafa;
}

#rh-subnav {
	display: none;
}

.byline {
	font: bold 20px "Open Sans Condensed", sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #333;
    margin-bottom: 5px;
}

.stamp {
	font: normal 15px "Open Sans", sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #1F618D;
    margin-bottom: 5px;
}

.intro {
    max-width: 800px;
    margin: auto;
}


h1 {
    color: #030303;
    font-family: 'PT Serif', serif;
    font-weight: normal;
    font-size: 33pt;
    line-height: 50px;
    text-align: center;
    margin: 30px;
}

h2 {
	font: bold 25px "Open Sans Condensed", sans-serif;
	text-transform: uppercase;
	margin-bottom: 10px;
    color: black;
    text-align: center;
}

h3 {
	font: bold 14px "Open Sans", sans-serif;
	line-height: 22px;
    text-transform: uppercase;
    text-align: center;
    color: #1F618D;
	width: 250px;
}

p {
    color: #333;
    font: normal 17px "PT Serif", serif;
    font-weight: normal;
    font-size: 17px;
    line-height: 27px;
    margin-top: 15px;
}

p.dropcap:first-letter {
    text-transform: uppercase;
    float: left;
    font-size: 53px;
    line-height: 48px;
    margin-top: 5px;
    padding-right: 5px;
}

hr {
	margin-top: -3px;
	border-color: black;
}

q {
    quotes: ’\201C’ ‘\201D’;
}

/*  SECTIONS  */

.section-marker {
    background-color: #C70039;
    color: white;
    width: 260px;
    margin: 30px auto;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
 }

.flex-container {
    padding: 0;
    margin-bottom: 50px;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.flex-item {
    width: 250px;
}

/*  READ MORE HANDLER  */
#read-more.collapsed {
    max-height: 125px;
    overflow: hidden;
}

#read-more {
    position: relative;
    cursor: pointer;
}

#read-more:before {
    display: none;
    }

#read-more.collapsed:after {
    content: "Read More \25BE";
    width: 250px;
    padding: 5px 10px 5px 0;
    bottom: -1px;
    z-index: 1;
    text-align: right;
    transition: bottom .4s;
    background: linear-gradient(to right,transparent 0,#8fb0c6 80%,#8fb0c6 100%);
}

#read-more:after {
    content: "Read Less \25B4";
    display: block;
    width: 250px;
    position: absolute;
    right: 2px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    font: bold 15px "Open Sans Condensed", sans-serif;
    text-align: right;
    padding: 5px 10px 5px 0;
    transition: bottom .4s;
    background: linear-gradient(to right,transparent 0,#8fb0c6 80%,#8fb0c6 100%);
}
