body {
    width: 100%;
    margin: 0;
    background-color: #fafafa;
}

#rh-subnav {
	display: none;
}

.byline {
	font: bold 20px "Open Sans Condensed", sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #333;
    margin-bottom: 5px;
}

.stamp {
	font: normal 15px "Open Sans", sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #999;
    margin-bottom: 5px;
}

.intro {
    max-width: 800px;
    margin: auto;
}


h1 {
    color: #030303;
    font-family: 'PT Serif', serif;
    font-weight: normal;
    font-size: 33pt;
    line-height: 50px;
    text-align: center;
    margin: 30px;
}

h2 {
	font: bold 25px "Open Sans Condensed", sans-serif;
	text-transform: uppercase;
	margin-bottom: 10px;
}

h3 {
	font: normal 14px "Open Sans", sans-serif;
	line-height: 22px;
    text-transform: uppercase;
    text-align: left;
    color: #999;
	margin: 10px 30px;
	width: 250px;
}

p {
    color: #030303;
    font-family: 'PT Serif', serif;
    font-weight: normal;
    font-size: 17px;
    line-height: 27px;
    margin-top: 15px;
}

p.dropcap:first-letter {
    text-transform: uppercase;
    float: left;
    font-size: 53px;
    line-height: 48px;
    margin-top: 5px;
    padding-right: 5px;
}

hr {
	margin-top: -3px;
	border-color: black;
}

/*  SECTIONS  */

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.section-marker {
    background-color: #dc1d1c;
    color: white;
    width: 260px;
    margin: 30px auto;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
 }

.section-group {
	text-align: center;
	margin: 30px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
}

.col:first-child { margin-left: 0; }

.span-1-of-4 p {
	color: #030303;
    font-family: 'PT Serif', serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    margin: 5px 30px;
    width: 250px;
}

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.87%;
}
.span_2_of_4 {
	width: 49.75%;
}
.span_1_of_4 {
	width: 24.62%;
}