        <ul class="ra-share" id="ra-share-top" style="text-align: center;">
            <li class="rt-share-f"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://interactive.nydailynews.com/project/donald-trump-ties-russia-key-players/">facebook</a> </li>
            <li class="ra-share-t"> <a target="_blank" href="https://twitter.com/intent/tweet?text=What we know about Donald Trump’s ties to Russia %20http://interactive.nydailynews.com/project/donald-trump-ties-russia-key-players/">Tweet</a></li>
            <li class="ra-share-e"> <a href="mailto:?subject=What we know about Donald Trump’s ties to Russia&body=http://interactive.nydailynews.com/project/donald-trump-ties-russia-key-players/">email</a> </li>
        </ul>
