{% extends "base.html" %}
{% block style %}{% endblock style %}
{% block breadcrumbs %}{{ super() }}{% endblock breadcrumbs %}
{% block content %}

<div class="intro">
    <h2>the russian connection</h2>
    
    <h1>Here’s what we know about Donald Trump’s ties to Russia</h1>
    <div>
        <ul class="ra-share" id="ra-share-top" style="text-align: center;">
            <li class="ra-share-f"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://interactive.nydailynews.com/project/russia-connex/">facebook</a> </li>
            <li class="ra-share-t"> <a target="_blank" href="https://twitter.com/intent/tweet?text=What we know about Donald Trump’s ties to Russia %20http://interactive.nydailynews.com/project/russia-connex/">Tweet</a></li>
            <li class="ra-share-e"> <a href="mailto:?subject=What we know about Donald Trump’s ties to Russia http://interactive.nydailynews.com/project/russia-connex/">email</a> </li>
        </ul>
    </div>

    <p class="byline">By Jason Silverstein</p>

    <p id="datestamp" class="stamp">Last updated {{''|next_update('this')}}</p>

{{response.content.intro|safe}}

</div>

<section id="profiles">
    {% for item in response.content.sections %}
    {{item|safe}}
    {% endfor %}
<h2></h2>

    <ul>
        </div>
        </li>
    </ul>

<h2>trump associates</h2>
    <ul>
        <li>
        <img src="/static/img/sessions.png">
        <hr>
        <h3>Jeff Sessions</h3>
        <h4>Former U.S. Senator and now Trump’s Attorney General</h4>
        <div id="read-more" class="collapsed" onclick="clicker();">
            <p>Sessions recused himself from the criminal investigation after the Washington Post revealed in March that he spoke with Russian Ambassador Sergey Kislyak twice during the 2016 campaign and did not reveal those talks during his confirmation hearing. Two Democratic senators have alleged that Sessions had even more campaign meetings with Kislyak that have still been kept secret. Sessions’ future with the Trump administration is now in question. Sessions reportedly has considered resigning after Trump has hammered him for months for recusing himself.</p>
        </div>
        </li>

        <li>
        <img src="/static/img/flynn.png">
        <hr>
        <h3>Michael Flynn</h3>
        <h4>retired Army general who resigned as national security adviser</h4>
        <div id="read-more" class="collapsed" onclick="clicker();">
            <p>In February reports revealed that he secretly spoke with Russian Ambassador Sergey Kislyak in December 2016 about sanctions placed on Russia by the Obama administration. The White House has said there was nothing improper about those talks, but that he was fired for lying about their content to Vice-President Mike Pence. Flynn was also present at a December meeting between Kislyak and Jared Kushner in Trump Tower. Flynn’s previous work as a consultant brought him into financial arrangements with Turkey and Ukraine, and in 2015 the state-run Russian media network RT paid Flynn at least $45,000 to deliver a speech at an event where he was seated next to Russian President Vladimir Putin. Flynn has been subpoenaed to testify before the Senate Intelligence Committee but has not been cooperating.</p>
        </div>
        </li>

        <li>
        <img src="/static/img/manafort.png">
        <hr>
        <h3>Paul Manafort</h3>
        <h4>The second of Trump’s three campaign managers</h4>
        <div id="read-more" class="collapsed" onclick="clicker();">
            <p>Manafort resigned in August 2016 after reports that he lobbied for Ukraine’s pro-Russian government in return for big bucks. Manafort’s foreign financial ties are now being investigated by the CIA, NSA, FBI, Director of National Intelligence and the Treasury Department.</p>
        </div>
        </li>

        <li>
        <img src="/static/img/stone.png">
        <hr>
        <h3>Roger Stone</h3>
        <h4>A gadfly Republican consultant who worked on Trump’s campaign</h4>
        <div id="read-more" class="collapsed" onclick="clicker();">
            <p>The criminal probe is looking into his potential contacts with Russian operatives. Stone has admitted to secretly speaking with WikiLeaks founder Julian Assange and supposed hacker Guccifer 2.0 (see <q>Foreign players,</q> below), but he has denied any Russia ties or advanced knowledge of the cyberattacks on Clinton’s campaign.</p>
        </div>
        </li>

        <li>
        <img src="/static/img/cohen.png">
        <hr>
        <h3>Michael Cohen</h3>
        <h4>Trump’s personal lawyer is under investigation</h4>
        <div id="read-more" class="collapsed" onclick="clicker();">
            <p>Cohen has become a focus of the House and Senate investigations for unclear reasons. An unverified intelligence dossier about Trump (see Christopher Steele, below) alleged that Cohen met with Russian officials during the campaign, something Cohen has denied.</p>
        </div>
        </li>

        <li>
        <img src="/static/img/epshteyn.png">
        <hr>
        <h3>Boris Epshteyn</h3>
        <h4>Russian-born Republican strategist</h4>
        <div id="read-more" class="collapsed" onclick="clicker();">
            <p>Epshteyn resigned from a White House communications job under Trump after only two months. He confirmed that he has been contacted for information for the House investigation, but little is known about his suspected campaign activities.</p>
        </div>
        </li>

        <li>
        <img src="/static/img/caputo.png">
        <hr>
        <h3>Michael Caputo</h3>
        <h4>A Trump campaign communications adviser</h4>
        <div id="read-more" class="collapsed" onclick="clicker();">
            <p>Caputo has been asked to provide documents and an interview for the House investigation. He has denied any campaign involvement with Russian officials. He worked in the 2000s for Gazprom Media, a pro-Putin Russian conglomerate, and met his second wife while working on a 2007 election in Kiev, Ukraine.</p>
        </div>
        </li>

        <li>
        <img src="/static/img/page.png">
        <hr>
        <h3>Carter Page</h3>
        <h4>A foreign policy adviser for Trump’s campaign</h4>
        <div id="read-more" class="collapsed" onclick="clicker();">
            <p>The FBI obtained a court order to surveil Page’s communications after suspicions that he interacted with Russian officials during the campaign. Page, an oil industry consultant, denied any contact but did not deny reports that he spoke with Kislyak during the Republican National Convention. Prosecutors say Russian spies tried to recruit him in an unrelated scheme in 2013.</p>
        </div>
        </li>
    </ul>

<h2 style="line-height:22px;">Federal (and former) investigators</h2>
    <ul>
        <li>
        <img src="/static/img/comey.png">
        <hr>
        <h3>James Comey</h3>
        <h4>former FBI director who Trump abruptly fired in May</h4>
        <div id="read-more" class="collapsed" onclick="clicker();">
            <p>He is expected to testify before the Senate Intelligence Committee on Thursday. Comey revealed weeks before his ouster that he was investigating the Trump campaign — an unusual disclosure for an active inquiry. An advanced copy of his Senate testimony has Comey detailing how Trump repeatedly met with him since January, asking him to drop the probe into Flynn and to pledge his "loyalty." Comey assured Trump that he, personally, was not being investigated, but he declined to go public with that detail because he could not be sure a Trump investigation would never start.</p>
        </div>
        </li>

        <li>
        <img src="/static/img/mueller.png">
        <hr>
        <h3>Robert Mueller</h3>
        <h4>Special Counsel leading the criminal investigation</h4>
        <div id="read-more" class="collapsed" onclick="clicker();">
            <p>After Comey's firing, Mueller — a former FBI director — has been assembling an all-star prosecution team with lawyers who worked on Watergate and the Enron collapse.</p>
        </div>
        </li>

        <li>
        <img src="/static/img/rosenstein.png">
        <hr>
        <h3>Rod Rosenstein</h3>
        <h4>The deputy attorney general and investigating Sessions' recusal</h4>
        <div id="read-more" class="collapsed" onclick="clicker();">
            <p>He appointed Mueller and also wrote a critical letter about Comey that was initially cited as a major reason for Trump firing him. Trump later said it was his decision alone to fire Comey.</p>
        </div>
        </li>

        <li>
        <img src="/static/img/yates.png">
        <hr>
        <h3>Sally Yates</h3>
        <h4>former acting attorney general fired by Trump</h4>
        <div id="read-more" class="collapsed" onclick="clicker();">
            <p>She was fired only days into Trump's presidency. Yates testified before the Senate Judiciary Committee that she warned White House officials that Mike Flynn had lied to FBI agents about the subject of his conversation with Russian diplomat Sergey Kislyak and that the Russians could potentially use that information to blackmail him. The White House did not take any action about her concerns until they were reported by the Washington Post weeks later.</p>
        </div>
        </li>

        <li>
        <img src="/static/img/nunes.png">
        <hr>
        <h3>Rep. Devin Nunes</h3>
        <h4>(R-Calif.) Chairman of the House Intelligence Committee</h4>
        <div id="read-more" class="collapsed" onclick="clicker();">
            <p>He recused himself from the committee's investigation after allegations that he mishandled classified information in the case and had appeared to be coordinating the White House.</p>
        </div>
        </li>

        <li>
        <img src="/static/img/burr.png">
        <hr>
        <h3>Sen. Richard Burr</h3>
        <h4>(R-N.C.) Chairman of the Senate Intelligence Committee</h4>
        <!--<div id="read-more" class="collapsed" onclick="clicker();">
            <p></p>
        </div>-->
        </li>

        <li>
        <img src="/static/img/grassley.png">
        <hr>
        <h3>Sen. Charles Grassley</h3>
        <h4>(R-Iowa) Chairman of the Senate Judiciary Committee</h4>
        <!--<div id="read-more" class="collapsed" onclick="clicker();">
            <p></p>
        </div>-->
        </li>

        <li>
        <img src="/static/img/chaffetz.png">
        <hr>
        <h3>Rep. Jason Chaffetz</h3>
        <h4>(R-Utah) Former Chairman of the House Oversight and Government Reform Committee</h4>
        <!--<div id="read-more" class="collapsed" onclick="clicker();">
            <p></p>
        </div>-->
        </li>
    </ul>

<h2 style="line-height:22px;">Foreign players</h2>
    <ul>
        <li>
        <img src="/static/img/farage.png">
        <hr>
        <h3>Nigel Farage</h3>
        <h4>A leader of the U.K. Brexit movement</h4>
        <div id="read-more" class="collapsed" onclick="clicker();">
            <p>Farage has been named as <q>person of interest</q> in the criminal investigation. He is a strong ally of Trump’s and also has nebulous associations with Russia’s RT news network and with WikiLeaks founder Julian Assange. Farage has denied any connection to alleged wrongdoing.</p>
        </div>
        </li>

        <li>
        <img src="/static/img/assange.png">
        <hr>
        <h3>Julian Assange</h3>
        <h4>The founder of WikiLeaks, a “not-for-profit media organization”</h4>
        <div id="read-more" class="collapsed" onclick="clicker();">
            <p>WikiLeaks published stolen emails from the Democratic National Committee and from Clinton’s campaign in the final stretch of the 2016 race. The Obama administration alleged that Russia was the source of the hacked emails and used WikiLeaks as an intermediary for publishing them, but Assange has repeatedly denied this. Assange met with Nigel Farage in March and there have been no details released about their discussion.</p>
        </div>
        </li>

        <li>
        <img src="/static/img/guccifer.png">
        <hr>
        <h3>Guccifer 2.0</h3>
        <h4>Took credit for the breach of the Democrat emails</h4>
        <div id="read-more" class="collapsed" onclick="clicker();">
            <p>This supposed hacker has not been officially identified and the U.S. intelligence community believes this is a false persona created to deflect attention from Russia for the hacks.</p>
        </div>
        </li>

        <li>
        <img src="/static/img/kislyak.png">
        <hr>
        <h3>Sergey Kislyak</h3>
        <h4>Recently recalled Russian Ambassador to the United States</h4>
        <div id="read-more" class="collapsed" onclick="clicker();">
            <p>Kislyak keeps getting Trump people in trouble just by talking to them. Michael Flynn resigned after talking to him. Jeff Sessions recused himself from the criminal probe for talking to him. And Kislyak was with Russian Foreign Minister Sergey Lavrov at the White House when Trump revealed highly classified information from an Israeli intelligence source the day after Comey’s firing.</p>
        </div>
        </li>

        <li>
        <img src="/static/img/lavrov.png">
        <hr>
        <h3>Sergey Lavrov</h3>
        <h4>The Russian Foreign Minister</h4>
        <div id="read-more" class="collapsed" onclick="clicker();">
            <p>Lavrov joined Ambassador Sergey Kislyak for a White House meeting in May, in which President Trump exposed highly classified information about ISIS threats.</p>
        </div>
        </li>

        <li>
        <img src="/static/img/steele.png">
        <hr>
        <h3>Christopher Steele</h3>
        <h4>A British spy, formerly with MI6</h4>
        <div id="read-more" class="collapsed" onclick="clicker();">
            <p>Steele compiled an infamous dossier about Trump's supposed history with Russia. The dossier, which Buzzfeed News published in January, alleges that Russia has been grooming and blackmailing Trump behind the scenes for years as part of a conspiracy to shatter Western relations. Trump denied the allegations and the dossier's main thesis remains unverified. But since its publication, several secondary allegations about Russian officials and the Kremlin cyberattack campaign have been validated by further reports.</p>
        </div>
        </li>
    </ul>
</section>
{% endblock content %}
