{% extends "base.html" %}
{% block style %}{% endblock style %}
{% block breadcrumbs %}{{ super() }}{% endblock breadcrumbs %}
{% block content %}

<div class="intro">
    <div class="section-marker">the russian connection</div>
    
    <h1>Here’s what we know about Donald Trump’s ties to Russia</h1>
    <p class="byline">By Jason Silverstein</p>

    <p id="datestamp" class="stamp">Last updated {{''|next_update('this')}}</p>

    <p class="dropcap">You hear about the investigation into President Trump and Russia every day. It is extremely complicated, and difficult to keep track of everything.</p>

    <p>There is the criminal investigation being led Special Counsel Robert Mueller on behalf of the Justice Department and the FBI. It could potentially end in criminal charges for people in Trump’s White House and inner circle. Then there are two House investigations -- one from its Intelligence Committee and one from its Oversight and Government Reform Committee. Finally, there are two Senate investigations -- one from its Intelligence Committee and one from its Judiciary Committee.</p>

    <p>All of these investigations are centered on the same central topics: What role Russian hackers played in the 2016 campaign, and whether the Trump campaign colluded with the Russian government. Most of these investigations also have the same players overlapping, as well as some side characters whose ultimate significance may not yet be fully understood.</p>

    <p>Here’s a look at who’s who at a glance, and how they’re connected.</p>

</div>

<div class="section-marker">the trump family</div>

    <ul class="flex-container">

        <li class="flex-item">
            <img src="http://via.placeholder.com/250x250">
            <hr>
            <h2>Donald Trump</h2>
            <h3>Became the 45th president in a surprise 2016 victory</h3>
            <div id="read-more" class="collapsed" onclick="clicker();">
                <p>Evidence is consistently surfacing that Trump or people in his orbit may have had some kind of interaction with the Russian government during the campaign, but Trump has denied having any political or business ties. According to the Senate Intelligence Committee testimony of former FBI Director James Comey, Trump asked Comey to back off of the criminal investigation into campaign adviser turned National Security Adviser Michael Flynn’s ties to Russia. He also reportedly ordered Director of National Intelligence Dan Coats and NSA Chief Mike Rogers to publicly say there was no wrongdoing on Trump’s behalf, and told them to get Comey to lay off of Flynn.</p>
            </div>
        </li>
    
        <li class="flex-item">
        <img src="http://via.placeholder.com/250x250">
        <hr>
        <h2>Jared Kushner</h2>
        <h3>Trump’s son-in-law, who serves as one of his closest advisers</h3>
        <div id="read-more" class="collapsed" onclick="clicker();">
            <p>Kushner had denied having any interactions with Russian officials during the campaign, but subsequently acknowledged having two meetings. Reuters reported in May that Kushner allegedly spoke with Kremlin officials last year about setting up a secret backchannel to communicate about diplomatic matters. Around the same time, Kushner also met with the chief executive of a state-owned bank who has ties to Putin, and it is not clear why. Kushner has reportedly become a focus of the criminal investigation, but he faces no charges or specific allegations.</p>
        </div>
        </li>
    
        <li class="flex-item">
        <img src="http://via.placeholder.com/250x250">
        <hr>
        <h2>Eric Trump</h2>
        <h3>Trump’s oldest son who runs the Trump Organization</h3>
        <div id="read-more" class="collapsed" onclick="clicker();">
            <p>Golf writer James Dodson claimed this year that Eric in 2014 told him that Russia gives the family <q>all the funds we need</q> for their golf courses. Eric has denied this encounter happened.</p>
        </div>
        </li>
    
        <li class="flex-item">
        <img src="http://via.placeholder.com/250x250">
        <hr>
        <h2>Donald Trump Jr.</h2>
        <h3>Trump’s adult son who runs the Trump Organization</h3>
        <div id="read-more" class="collapsed" onclick="clicker();">
            <p>He said in a 2508 real estate conference that the Trump family has <q>a lot of money pouring in from Russia.</q> Neither he nor Eric has been named as a focus of any investigations, though both control the daily operations of the sprawling business empire that President Trump still owns.</p>
        </div>
        </li>
    </ul>

<div class="section-marker">trump associates</div>
    <ul class="flex-container">
        <li class="flex-item">
        <img src="http://via.placeholder.com/250x250">
        <hr>
        <h2>Jeff Sessions</h2>
        <h3>Former U.S. Senator and now Trump’s Attorney General</h3>
        <div id="read-more" class="collapsed" onclick="clicker();">
            <p>Sessions recused himself from the criminal investigation after the Washington Post revealed in March that he spoke with Russian Ambassador Sergey Kislyak twice during the 2016 campaign and did not reveal those talks during his confirmation hearing. Two Democratic senators have alleged that Sessions had even more campaign meetings with Kislyak that have still been kept secret. Sessions’ future with the Trump administration is now in question. Sessions reportedly has considered resigning after Trump has hammered him for months for recusing himself.</p>
        </div>
        </li>

        <li class="flex-item">
        <img src="http://via.placeholder.com/250x250">
        <hr>
        <h2>Michael Flynn</h2>
        <h3>retired Army general who resigned as national security adviser</h3>
        <div id="read-more" class="collapsed" onclick="clicker();">
            <p>In February reports revealed that he secretly spoke with Russian Ambassador Sergey Kislyak in December 2016 about sanctions placed on Russia by the Obama administration. The White House has said there was nothing improper about those talks, but that he was fired for lying about their content to Vice-President Mike Pence. Flynn was also present at a December meeting between Kislyak and Jared Kushner in Trump Tower. Flynn’s previous work as a consultant brought him into financial arrangements with Turkey and Ukraine, and in 2015 the state-run Russian media network RT paid Flynn at least $45,000 to deliver a speech at an event where he was seated next to Russian President Vladimir Putin. Flynn has been subpoenaed to testify before the Senate Intelligence Committee but has not been cooperating.</p>
        </div>
        </li>

        <li class="flex-item">
        <img src="http://via.placeholder.com/250x250">
        <hr>
        <h2>Paul Manafort</h2>
        <h3>The second of Trump’s three campaign managers</h3>
        <div id="read-more" class="collapsed" onclick="clicker();">
            <p>Manafort resigned in August 2016 after reports that he lobbied for Ukraine’s pro-Russian government in return for big bucks. Manafort’s foreign financial ties are now being investigated by the CIA, NSA, FBI, Director of National Intelligence and the Treasury Department.</p>
        </div>
        </li>

        <li class="flex-item">
        <img src="http://via.placeholder.com/250x250">
        <hr>
        <h2>Roger Stone</h2>
        <h3>A gadfly Republican consultant who worked on Trump’s campaign</h3>
        <div id="read-more" class="collapsed" onclick="clicker();">
            <p>The criminal probe is looking into his potential contacts with Russian operatives. Stone has admitted to secretly speaking with WikiLeaks founder Julian Assange and supposed hacker Guccifer 2.0 (see <q>Foreign players,</q> below), but he has denied any Russia ties or advanced knowledge of the cyberattacks on Clinton’s campaign.</p>
        </div>
        </li>

        <li class="flex-item">
        <img src="http://via.placeholder.com/250x250">
        <hr>
        <h2>Michael Cohen</h2>
        <h3>Trump’s personal lawyer is under investigation</h3>
        <div id="read-more" class="collapsed" onclick="clicker();">
            <p>Cohen has become a focus of the House and Senate investigations for unclear reasons. An unverified intelligence dossier about Trump (see Christopher Steele, below) alleged that Cohen met with Russian officials during the campaign, something Cohen has denied.</p>
        </div>
        </li>

        <li class="flex-item">
        <img src="http://via.placeholder.com/250x250">
        <hr>
        <h2>Boris Epshteyn</h2>
        <h3>Russian-born Republican strategist</h3>
        <div id="read-more" class="collapsed" onclick="clicker();">
            <p>Epshteyn resigned from a White House communications job under Trump after only two months. He confirmed that he has been contacted for information for the House investigation, but little is known about his suspected campaign activities.</p>
        </div>
        </li>

        <li class="flex-item">
        <img src="http://via.placeholder.com/250x250">
        <hr>
        <h2>Michael Caputo</h2>
        <h3>A Trump campaign communications adviser</h3>
        <div id="read-more" class="collapsed" onclick="clicker();">
            <p>Caputo has been asked to provide documents and an interview for the House investigation. He has denied any campaign involvement with Russian officials. He worked in the 2000s for Gazprom Media, a pro-Putin Russian conglomerate, and met his second wife while working on a 2007 election in Kiev, Ukraine.</p>
        </div>
        </li>

        <li class="flex-item">
        <img src="http://via.placeholder.com/250x250">
        <hr>
        <h2>Carter Page</h2>
        <h3>A foreign policy adviser for Trump’s campaign</h3>
        <div id="read-more" class="collapsed" onclick="clicker();">
            <p>The FBI obtained a court order to surveil Page’s communications after suspicions that he interacted with Russian officials during the campaign. Page, an oil industry consultant, denied any contact but did not deny reports that he spoke with Kislyak during the Republican National Convention. Prosecutors say Russian spies tried to recruit him in an unrelated scheme in 2013.</p>
        </div>
        </li>
    </ul>

<div class="section-marker" style="line-height:22px;">Federal (and former) investigators</div>
    <ul class="flex-container">
        <li class="flex-item">
        <img src="http://via.placeholder.com/250x250">
        <hr>
        <h2>James Comey</h2>
        <h3>former FBI director who Trump abruptly fired in May</h3>
        <div id="read-more" class="collapsed" onclick="clicker();">
            <p>He is expected to testify before the Senate Intelligence Committee on Thursday. Comey revealed weeks before his ouster that he was investigating the Trump campaign — an unusual disclosure for an active inquiry. An advanced copy of his Senate testimony has Comey detailing how Trump repeatedly met with him since January, asking him to drop the probe into Flynn and to pledge his "loyalty." Comey assured Trump that he, personally, was not being investigated, but he declined to go public with that detail because he could not be sure a Trump investigation would never start.</p>
        </div>
        </li>

        <li class="flex-item">
        <img src="http://via.placeholder.com/250x250">
        <hr>
        <h2>Robert Mueller</h2>
        <h3>Special Counsel leading the criminal investigation</h3>
        <div id="read-more" class="collapsed" onclick="clicker();">
            <p>After Comey's firing, Mueller — a former FBI director — has been assembling an all-star prosecution team with lawyers who worked on Watergate and the Enron collapse.</p>
        </div>
        </li>

        <li class="flex-item">
        <img src="http://via.placeholder.com/250x250">
        <hr>
        <h2>Rod Rosenstein</h2>
        <h3>The deputy attorney general and investigating Sessions' recusal</h3>
        <div id="read-more" class="collapsed" onclick="clicker();">
            <p>He appointed Mueller and also wrote a critical letter about Comey that was initially cited as a major reason for Trump firing him. Trump later said it was his decision alone to fire Comey.</p>
        </div>
        </li>

        <li class="flex-item">
        <img src="http://via.placeholder.com/250x250">
        <hr>
        <h2>Sally Yates</h2>
        <h3>former acting attorney general fired by Trump</h3>
        <div id="read-more" class="collapsed" onclick="clicker();">
            <p>She was fired only days into Trump's presidency. Yates testified before the Senate Judiciary Committee that she warned White House officials that Mike Flynn had lied to FBI agents about the subject of his conversation with Russian diplomat Sergey Kislyak and that the Russians could potentially use that information to blackmail him. The White House did not take any action about her concerns until they were reported by the Washington Post weeks later.</p>
        </div>
        </li>

        <li class="flex-item">
        <img src="http://via.placeholder.com/250x250">
        <hr>
        <h2>Rep. Devin Nunes</h2>
        <h3>(R-Calif.) Chairman of the House Intelligence Committee</h3>
        <div id="read-more" class="collapsed" onclick="clicker();">
            <p>He recused himself from the committee's investigation after allegations that he mishandled classified information in the case and had appeared to be coordinating the White House.</p>
        </div>
        </li>

        <li class="flex-item">
        <img src="http://via.placeholder.com/250x250">
        <hr>
        <h2>Sen. Richard Burr</h2>
        <h3>(R-N.C.) Chairman of the Senate Intelligence Committee</h3>
        <!--<div id="read-more" class="collapsed" onclick="clicker();">
            <p></p>
        </div>-->
        </li>

        <li class="flex-item">
        <img src="http://via.placeholder.com/250x250">
        <hr>
        <h2>Sen. Charles Grassley</h2>
        <h3>(R-Iowa) Chairman of the Senate Judiciary Committee</h3>
        <!--<div id="read-more" class="collapsed" onclick="clicker();">
            <p></p>
        </div>-->
        </li>

        <li class="flex-item">
        <img src="http://via.placeholder.com/250x250">
        <hr>
        <h2>Rep. Jason Chaffetz</h2>
        <h3>(R-Utah) Former Chairman of the House Oversight and Government Reform Committee</h3>
        <!--<div id="read-more" class="collapsed" onclick="clicker();">
            <p></p>
        </div>-->
        </li>
    </ul>

<div class="section-marker" style="line-height:22px;">Foreign players</div>
    <ul class="flex-container">
        <li class="flex-item">
        <img src="http://via.placeholder.com/250x250">
        <hr>
        <h2>Nigel Farage</h2>
        <h3>A leader of the U.K. Brexit movement</h3>
        <div id="read-more" class="collapsed" onclick="clicker();">
            <p>Farage has been named as <q>person of interest</q> in the criminal investigation. He is a strong ally of Trump’s and also has nebulous associations with Russia’s RT news network and with WikiLeaks founder Julian Assange. Farage has denied any connection to alleged wrongdoing.</p>
        </div>
        </li>

        <li class="flex-item">
        <img src="http://via.placeholder.com/250x250">
        <hr>
        <h2>Julian Assange</h2>
        <h3>The founder of WikiLeaks, a “not-for-profit media organization”</h3>
        <div id="read-more" class="collapsed" onclick="clicker();">
            <p>WikiLeaks published stolen emails from the Democratic National Committee and from Clinton’s campaign in the final stretch of the 2016 race. The Obama administration alleged that Russia was the source of the hacked emails and used WikiLeaks as an intermediary for publishing them, but Assange has repeatedly denied this. Assange met with Nigel Farage in March and there have been no details released about their discussion.</p>
        </div>
        </li>

        <li class="flex-item">
        <img src="http://via.placeholder.com/250x250">
        <hr>
        <h2>Guccifer 2.0</h2>
        <h3>Took credit for the breach of the Democrat emails</h3>
        <div id="read-more" class="collapsed" onclick="clicker();">
            <p>This supposed hacker has not been officially identified and the U.S. intelligence community believes this is a false persona created to deflect attention from Russia for the hacks.</p>
        </div>
        </li>

        <li class="flex-item">
        <img src="http://via.placeholder.com/250x250">
        <hr>
        <h2>Sergey Kislyak</h2>
        <h3>Recently recalled Russian Ambassador to the United States</h3>
        <div id="read-more" class="collapsed" onclick="clicker();">
            <p>Kislyak keeps getting Trump people in trouble just by talking to them. Michael Flynn resigned after talking to him. Jeff Sessions recused himself from the criminal probe for talking to him. And Kislyak was with Russian Foreign Minister Sergey Lavrov at the White House when Trump revealed highly classified information from an Israeli intelligence source the day after Comey’s firing.</p>
        </div>
        </li>

        <li class="flex-item">
        <img src="http://via.placeholder.com/250x250">
        <hr>
        <h2>Sergey Lavrov</h2>
        <h3>The Russian Foreign Minister</h3>
        <div id="read-more" class="collapsed" onclick="clicker();">
            <p>Lavrov joined Ambassador Sergey Kislyak for a White House meeting in May, in which President Trump exposed highly classified information about ISIS threats.</p>
        </div>
        </li>

        <li class="flex-item">
        <img src="http://via.placeholder.com/250x250">
        <hr>
        <h2>Christopher Steele</h2>
        <h3>A British spy, formerly with MI6</h3>
        <div id="read-more" class="collapsed" onclick="clicker();">
            <p>Steele compiled an infamous dossier about Trump's supposed history with Russia. The dossier, which Buzzfeed News published in January, alleges that Russia has been grooming and blackmailing Trump behind the scenes for years as part of a conspiracy to shatter Western relations. Trump denied the allegations and the dossier's main thesis remains unverified. But since its publication, several secondary allegations about Russian officials and the Kremlin cyberattack campaign have been validated by further reports.</p>
        </div>
        </li>
    </ul>
{% endblock content %}
