{% extends "base.html" %}
{% block style %}{% endblock style %}
{% block breadcrumbs %}{{ super() }}{% endblock breadcrumbs %}
{% block content %}
Here’s what we know so far about Team Trump’s ties to Russian interests
By JASON SILVERSTEIN
<p id="datestamp" class="stamp"><span>{{response.app.sitename}}, last updated {{''|next_update('this')}}</span></p>

<p>You hear about the investigation into President Trump and Russia every day. It is extremely complicated, and difficult to keep track of everything.</p>

<p>There is the criminal investigation being led Special Counsel Robert Mueller on behalf of the Justice Department and the FBI. It could potentially end in criminal charges for people in Trump's White House and inner circle. Then there are two House investigations -- one from its Intelligence Committee and one from its Oversight and Government Reform Committee. Finally, there are two Senate investigations -- one from its Intelligence Committee and one from its Judiciary Committee.</p>

<p>All of these investigations are centered on the same central topics: What role Russian hackers played in the 2016 campaign, and whether the Trump campaign colluded with the Russian government. Most of these investigations also have the same players overlapping, as well as some side characters whose ultimate significance may not yet be fully understood.</p>

<p>Here's a look at who's who at a glance, and how they're connected:</p>

<div class="section group">
	<div class="col span_1_of_4">
	1 of 4
	</div>
	<div class="col span_1_of_4">
	1 of 4
	</div>
	<div class="col span_1_of_4">
	1 of 4
	</div>
	<div class="col span_1_of_4">
	1 of 4
	</div>
</div>


{% endblock content %}
