{% extends "base.html" %}
{% block style %}{% endblock style %}
{% block breadcrumbs %}{{ super() }}{% endblock breadcrumbs %}
{% block content %}

<div class="intro">
    <a href="{{response.app.url_root}}"><h2>The Russian connection</h2></a>
    
    <h1>UPDATE: Donald Trump’s ties to Russia</h1>
    <div>
{% include 'includes/social.html' %}
    </div>

    <p class="byline">By Jason Silverstein</p>
    <p id="datestamp" class="stamp">Last updated {{''|last_update()}}</p>

{# {{response.content.intro|safe}} #}
</div>

{% include 'includes/latest-hed.html' %}
{% include 'includes/ad02.html' %}

<section id="profiles">
        
    {{response.content|safe}}

</section>

    <p class="caption">Photos by The Associated Press, Getty Images and Reuters</p>
    <p class="caption">Interactive by Joe Murphy and Kelli R. Parker</p>

{% endblock content %}
